@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(to bottom, #0f092e, #1b0f2e, #25122e, #2d172e, #341c2e) no-repeat center center fixed; */
  /* background: url('https://cdn.pixabay.com/photo/2014/09/22/00/57/live-concert-455762_960_720.jpg'); */
  font-size: 18px;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  /* background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-full {
  margin: 0;
  padding: 0;
  font-family: 'Suez One', serif;
}

.container-full .navbar {
  width: 100%;
  position: fixed;
  z-index: 100;
  padding: 0.2rem 1rem;
}

.container-full .main img {
  width: 100%;
}

.head-title {
  font-size: 38px;
  color: #008afc;
  text-align: center;
  padding: 0.6rem;
}

.container-full .video {
  width: 100%;
  height: 25rem;
  background-color: #262626;
}

.question-list {
  padding-left: 0;
}

.question-list .question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24.1rem;
}

.question .question-content {
  padding: 0.8rem;
  user-select: none;
  background: #f8f9fa;
  border-radius: 2px;
  text-align: center;
  font-weight: 700;
  border: 2px solid #7c7c7d;
}

.question button {
  width: 100%;
  padding: 0.4rem;
  border-color: #7c7c7d;
  background-color: transparent;
  transition: 0.2s ease;
  font-size: 18px;
  color: #000;
}

.question button:hover {
  background-color: #008afc;
  color: #fff;
  border-color: #008afc;
  transform: scale(1.01);
  font-weight: 700;
}

.question button:focus {
  border-color: #008afc;
  transform: scale(1.01);
  box-shadow: 0 0 0 0.3rem #008afc;
}

.question button:active {
  border-color: #008afc !important;
  transform: scale(1.01);
  background-color: #008afc !important;
  color: #fff !important;
}

.footer {
  grid-column: 1 / span 3;
  grid-row: 5;
  background: #dedfe0;
}

.full-video {
  width: 100%;
  margin: 0;
}

.question .result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  z-index: 100;
  animation: result 4s linear;
  color: #f60;
  text-shadow: 0 0 12px #ff0;
}

.py-3 {
  padding: 0.3rem !important;
}




.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

h1 {
  padding-bottom: 1.5rem;
  text-align: center;
  user-select: none;
}

.container {
  width: 30%;
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

Form {
  width: 100%;
}

input[type="email"] , input[type="password"] {
  padding: 1.2rem 1 !important;
}

.submit {
  background-image: linear-gradient(120deg, #89a2dd 0%, #d87074 100%);
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
  box-shadow: 0.2px 0.6px 6px rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.submit:hover {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

a:visited {
  color: #945082;
}

label {
  user-select: none;
}

.error {
  border-color: #ae5856 !important;
}

@keyframes result {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 0.7;
  }

  40%, 60% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }
}


@media (min-width: 1024px) {
  .main {
    position: relative;
  }
  .main img {
    margin-top: 2.9rem;
  }
  .main-content-1 {
    left: 10% !important;
    width: 80% !important;
  }
  .main-content {
    position: absolute;
    bottom: 0;
    left: 25%;
    background: #fff;
    width: 50%;
    padding: 0 20px;
  }  
  .head-title {
    padding: 1rem;
  }
  .full-video {
    width: 100%;
  }
  .left {
    width: 58.5%;
  }
  .right {
    width: 38.5%;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
}