@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto&display=swap');
body, .container-full {
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.row.content {
  height: 22.5rem;
}

.video {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.sidenav {
  /* padding-top: 20px; */
  background-color: #f1f1f1;
  height: 100%;
  padding: 0;
  margin: 1rem 0;
}
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

.question-container {
  background: #fff;
  width: 100%;
  height: 90px;
  box-shadow: 0 2px 4px #aaa;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding: 0.2rem;
}

.head-title {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #006fcb;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  letter-spacing: 4px;
  word-spacing: 10px;
}

.summary-welcome {
  width: 100%;
  height: 100%;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #ccc;
  background: #fff;
  animation: welcome_background 5s linear infinite;
}

.welcome {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: #008afc;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  height: 100%;
  /* margin-top: 20px; */
}

.welcome span {
  animation: welcome 2s linear infinite;
}

@keyframes welcome {
  0%, 100% {
    transform: scale(1.08);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes welcome_background {
  0%, 100% {
    background: rgb(255, 240, 245);
  }
  30%, 70% {
    background: #f0fff0;
  }
  50% {
    background: #fff;
  }
}

.answer-container {
  width: 100%;
  margin: auto;
  margin-top: 35px;
}

.row-answer {
  height: 40%;
}

.answer {
  height: 80px;
  /* overflow: hidden; */
}

.answer-1 {
  width: 100%;
  background: #f36;
  height: 100%;
  position: relative;
  animation: abc 1s linear, cde 0.2s linear;
}

.answer-1 > button {
  outline: none;
  border: none;
  color: #fff;
  font-size: 22px;
  transition: 0.2s linear;
}

.answer-1 > button:active {
  background: #006fcb;
}

.hover {
  background: #008afc !important;
}

.button-focus {
  border-color: #006fcb !important;
  background-color: #006fcb !important;
  color: #fff !important;
  cursor: default !important;
}

/* .answer-1:before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  border-left: 25px solid #f36;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
} */

.answer-option {
  width: 15%;
  height: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  line-height: 70px;
  position: absolute;
  font-size: 25px;
}

.answer-option:after {
  content: '';
  color: #fff;
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 20%;
  height: 100%;
  border-left: 25px solid #333;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  animation: cde 0.2s linear;
}

.answer-content {
  position: absolute;
  height: 100%;
  top: 0;
  left: calc(15% + 30px);
  vertical-align: middle;
  word-wrap: break-word;
  padding: 7px 7px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  max-height: 80px;
}

.chat-content {
  background: #fff;
  padding: 20px;
  height: 85%;
  overflow-y: auto;
  word-wrap: break-word;
  text-align: left;
  border-right: 1px solid #f2f2f2;
  /* border: 1px solid #aaa; */
}

.input-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
  /* grid-column-gap: 10px; */
  height: 15%;
  padding: 10px 0 0;
  background: #eee;
  /* border: 1px solid #aaa; */
}

::placeholder {
  opacity: 0.5;
}

.input-content #txtChat {
  grid-column: 1;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.2px solid #ccc;
  outline: none;
  /* background: transparent; */
}

.input-content #btnChat {
  grid-column: 2;
  background: #f7f7f7;
  border: none;
  outline: none;
  transition: 0.2s ease;
  background: #25a042;
  color: #7c7c7d;
  border-radius: 2px;
  color: #fff;
  line-height: 35px;
  padding: 0 12px;
}

.input-content #btnChat:hover {
  background: #008afc;
  color: #fff;
}

.input-content #btnChat:active {
  background: #006fcb;
}

.row.row-answer {
  margin-top: 10px;
}

.btn-answer {
  width: 100%;
  height: 100%;
  background: transparent;
}

/* .error {
  border-color: #ae5856 !important;
} */

@keyframes result {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 0.7;
  }

  40%, 60% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  body, .container-full {
    width: 100% !important;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 40% !important;
  }
  .win {
    font-size: 60px;
    font-weight: 1000;
  }
}

@media (max-width: 1150px) {
  .container {
    width: 50% !important;
  }
}

@media (max-width: 700px) {
  .container {
    width: 60% !important;
  }
  .win {
    font-size: 40px !important;
  }
}

@media (max-width: 550px) {
  .container {
    width: 90% !important;
  }
  .win {
    font-size: 30px !important;
  }
}

@media (max-width: 410px) {
  .win {
    font-size: 20px !important;
  }
}

.summary {
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
}



.wrong-answer {
  background: #f00 !important;
  border-color: #f00 !important;
  color: #fff !important;
}

.right-answer {
  background: #0d0 !important;
  border-color: #0d0 !important;
  transition: 0.5s ease;
  animation: right-answer 1.5s linear;
  animation-iteration-count: 2;
}

@keyframes right-answer {
  0%, 20%, 40%, 60%, 80%, 100% {
    background: #0d0;
    border-color: #0d0;
  }
  10%, 30%, 50%, 70%, 90% {
    background: #36f;
    border-color: #36f;
  }
}











.win {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  animation: bounceIn 2s linear;
  letter-spacing: 5px;
  font-size: 60px;
  font-weight: 1000;
  text-align: center;

}

.win:before {
  content: 'CONGRATULATIONS!!! \A YOU WIN';
  white-space: pre;
  position: fixed;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  color: #ff0;
}

.win:after {
  content: 'CONGRATULATIONS!!! \A YOU WIN';
  white-space: pre;
  letter-spacing: 5px;
  position: fixed;
  text-shadow: 0 0 3px #000, 0 0 40px #fff, 0 0 80px #fff, 0 0 100px #f00;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: #fa0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
}

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  background:lighten(#1fbba6,40%);
} */
.countdown {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie{
    width: 250px;
    height: 250px;
    display: block;
    position: relative;
    border-radius: 50%;
    background: #1fbba6;
    border: 2px solid #1fbba6;
    float: left;
    /* margin: 2em; */
}

.pie > .block{
  position:absolute;
  background:#fff;
  width:230px;
  height:230px;
  display:block;
  border-radius:50%;
  /* top:10px;
  left:10px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#time{
  font-size:3em;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:lighten(#000,60%);
}
.degree{
  /*90 + ( 360 * .1 )*/
      background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
}



/*///////////////////////// LOGIN /////////////////////////////////////////*/

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
  width: 100vw;
}

h1 {
  padding-bottom: 1.5rem;
  text-align: center;
  user-select: none;
}

.container {
  width: 30%;
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

Form {
  width: 100%;
}

input[type="email"] , input[type="password"] {
  padding: 1.2rem 1 !important;
}

.submit {
  background-image: linear-gradient(120deg, #89a2dd 0%, #d87074 100%);
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
  box-shadow: 0.2px 0.6px 6px rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.submit:hover {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

a:visited {
  color: #945082;
}

label {
  user-select: none;
}

.error {
  border-color: #ae5856 !important;
}





/* //////////////////////////// BACKGROUND ///////////////////////////////////// */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#333, #000);
  z-index: -1;
  overflow: hidden;

}

.set {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.set img {
  transform: scale(0.5);
}

.set div:nth-child(1) {
  /* left: 20%; */
  left: 20vw;
  animation: animate 15s linear infinite;
  animation-delay: -7s;
}

.set div:nth-child(2) {
  /* left: 50%; */
  left: 50vw;
  animation: animate 20s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(3) {
  /* left: 70%; */
  left: 70vw;
  animation: animate 25s linear infinite;
}

.set div:nth-child(4) {
  left: 0;
  animation: animate 15s linear infinite;
  animation-delay: -5s;
}

.set div:nth-child(5) {
  /* left: 85%; */
  left: 85vw;
  animation: animate 18s linear infinite;
  animation-delay: -10s;
}

.set div:nth-child(6) {
  left: 0;
  animation: animate 12s linear infinite;
}

.set div:nth-child(7) {
  /* left: 15%; */
  left: 15vw;
  animation: animate 14s linear infinite;
}

.set div:nth-child(8) {
  /* left: 60%; */
  left: 60vw;
  animation: animate 15s linear infinite;
}

.set2 {
  transform: scale(1.5) rotateY(180deg) !important;
  filter: blur(0.1px);
}

.set3 {
  transform: scale(0.5) rotateX(180deg) !important;
  filter: blur(1.5px);
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  
  10% {
    opacity: 1;
  }
  
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  
  40% {
    transform: translateX(30px) rotate(90deg);
  }
  
  60% {
    transform: translateX(0px) rotate(135deg);
  }
  
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}