body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #0f092e, #1b0f2e, #25122e, #2d172e, #341c2e) no-repeat center center fixed;
  font-size: 18px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
} */

/* .container-full {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% auto;
  grid-row-gap: 20px;
} */

.container-full {
  /* display: grid;
  grid-template-rows: 10% auto;
  grid-row-gap: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container-full .navbar {
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to top, #5d3352, #6a3a5e, #78416a, #864976, #945082);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  /* grid-column: 1 / span 2;
  grid-row: 1; */
}

.topnav a {
  float: left;
  display: block;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 0.8rem 2rem;
  text-decoration: none;
}

.topnav a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.topnav a:focus {
  color: rgba(255, 255, 255, 1);
}

.active {
  color: rgba(255, 255, 255, 1) !important;
}

.topnav .icon {
  display: none;
}

.container-full .content {
  margin-bottom: 1.5rem;
}

.container-full .main {
  width: 100%;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0;
}

.container-full .left {
  width: 55%;
  height: 100%;
}

.container-full #right {
  width: 20rem;
}

#right .chat-content {
  height: 29.5rem;
  width: 20rem;
  overflow-y: auto;
  /* word-break:break-word; */
  /* white-space: pre-wrap;
  word-break: break-all; */
  word-wrap: break-word;
  background: linear-gradient(to top, #5d3352, #6a3d54, #754856, #7f545a, #876060);
  position: fixed;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

#right .input-content {
  position: fixed;
  top: 34.5rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

#right .input-content #txtChat {
  width: 16rem;
  padding: 0.51rem;
  border: none;
  border-bottom-left-radius: 4px;
  background-color: #ffedca;
}

#right .input-content #btnChat {
  width: 4rem;
  padding: 0.5rem;
  border: none;
  background-color: #d29393db;
  border-bottom-right-radius: 4px;
  outline: none;
  transition: 0.2s ease;
  color: #fff;
  font-weight: 600;
}

#right .input-content #btnChat:hover {
  background-color: #d29393;
  outline: none;
}

.container-full .video {
  margin-bottom: 20px;
  width: 100%;
  height: 25rem;
  background-color: #ffedca;
  align-items: center;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

.container-full .question {
  width: 100%;
}

.question ul {
  margin: 0;
  padding: 0;
}

.question .question-content {
  margin: 10px 0;
  padding: 1rem;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  user-select: none;
  background-color: #d29393;
  border-radius: 5px;
  text-align: center;
  color: #0f092e;
  font-weight: 700;
}

.question button {
  width: 100%;
  margin: 8px 0;
  padding: 0.5rem;
  border-color: #ffedca;
  color: #ffedca;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
  background-color: transparent;
  transition: 0.2s ease;
  font-size: 18px;
}

.question button:hover {
  background-color: #ffedca;
  color: #0f092e;
  border-color: #ffedca;
  transform: scale(1.01);
  font-weight: 700;
}

.question button:focus {
  border-color: #ffedca;
  transform: scale(1.01);
  box-shadow: 0 0 0 0.3rem rgba(255, 237, 202, 0.5);
}

.question button:active {
  border-color: #ffedca !important;
  transform: scale(1.01);
  background-color: #ffedca !important;
  color: #0f092e !important;
  box-shadow: 0 0 0 0.3rem rgba(255, 237, 202, 0.5) !important;
}

.question .result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  z-index: 100;
  animation: result 4s linear;
  color: #f60;
  text-shadow: 0 0 12px #ff0;
}

@keyframes result {
  0%, 100% {
    opacity: 0;
  }

  20%, 80% {
    opacity: 0.7;
  }

  40%, 60% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }
}


.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

h1 {
  padding-bottom: 1.5rem;
  text-align: center;
  user-select: none;
}

.container {
  width: 30%;
  padding: 2rem 1.5rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.5);
}

Form {
  width: 100%;
}

input[type="email"] , input[type="password"] {
  padding: 1.2rem 1 !important;
}

.submit {
  background-image: linear-gradient(120deg, #89a2dd 0%, #d87074 100%);
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  margin: 1rem 0;
  box-shadow: 0.2px 0.6px 6px rgba(0, 0, 0, 0.3);
  font-size: 18px;
}

.submit:hover {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

a:visited {
  color: #945082;
}

label {
  user-select: none;
}

.error {
  border-color: #ae5856 !important;
}